name: Check Markdown Links

on:
  push:
    branches: [main]
    paths: ["**/*.md"]
  pull_request:
    paths: ["**/*.md"]

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: ".github/markdown-link-check.json"
          use-quiet-mode: "yes"
          folder-path: "."
          file-extension: ".md"
