name: Spell Check

on:
  push:
    branches: [main]
    paths: ["**/*.md"]
  pull_request:
    paths: ["**/*.md"]

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: crate-ci/typos@master
        with:
          config: ./_typos.toml
